<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeGuru Email</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #FAFAFA;
            color: #222222;
        }

        a {
            color: #000;
            text-decoration: none;
        }

        h1 {
            font-style: 24px;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;
        }

        p {
            margin-top: 0;
            margin-bottom: 24px;
        }

        table td {
            vertical-align: top;
        }

        /* Layout email */
        .email-wrapper {
            max-width: 600px;
            margin: 0 auto;
        }

        .email-header {
            border-color: #0070f3;
            padding: 24px;
            color: #ffffff;
        }

        .email-body {
            padding: 24px;
            background-color: #ffffff;
        }

        .email-footer {
            background-color: #f6f6f6;
            padding: 24px;
        }

        /* Button */
        .button {
            display: inline-block;
            background-color: #0070f3;
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 12px 24px;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Chào mừng bạn đã đến với CodeGuru.</h1>
        </div>
        <div class="email-body">
            <p>Xin chào <%= user.name %>,</p>
            <p>Cảm ơn bạn vì đã đăng ký CodeGuru. Để kích họat tài khoản của bạn, vui lòng sử dụng code xác thực sau:
            </p>
            <h2>
                <%= activationCode %>
            </h2>
            <p>Vui lòng nhập code này để kích hoạt trong vòng 5 phút!</p>
            <p>Nếu bạn không đăng ký để trở thành thành viên của CodeGuru, vui lòng bỏ qua email này.</p>
        </div>
        <div class="email-footer">
            <p>Nếu bạn có bất kỳ câu hỏi nào, đừng ngần ngại mà hãy liên hệ với chúng tôi tại <a
                    href="mailto:dinhgiaanforwork@gmail.com">dinhgiaanforwork@gmail.com</a></p>

        </div>
    </div>
</body>

</html>